/target/*
dea/*
/.idea
.project
*.iml
/logs/*.log
*.DS_Store
.classpath
logs/*
.settings/*
/.settings
/src/main/resources/dev/application.properties
dump.rdb
/target/

log.dir_IS_UNDEFINED/
log.dir_IS_UNDEFINED/*
**/.idea/*
run.sh
shared/
out/*
/out
xrk-mall-service/src/main/java/META-INF/MANIFEST.MF
mall-admin-api-dev.ipr
mall-admin-api-dev.iws

