# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/*
dea/*
/.idea
.project
*.iml
/logs/*.log
*.DS_Store
.classpath
logs/*
.settings/*
/.settings
/src/main/resources/dev/application.properties
dump.rdb
/target/

log.dir_IS_UNDEFINED/
log.dir_IS_UNDEFINED/*
**/.idea/*
run.sh
shared/
out/*
/out


